/* === 页面容器 === */
.pages {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: var(--menu-bg-lighter);
}

.pages .pageLogo {
  width: 168px;
  height: 168px;
  opacity: 1;
  transform: scale(0);
  margin: 0 auto;
}

.pages .page{
  position: absolute;
  top: 0;
  width: 80%;
  max-width: 1900px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  opacity:0;
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.1s ease;
}

.pages .pagedown {
  display: block;
  transform: translateY(-222px);
  z-index: 1;
  opacity: 1;
}


.pages .page .pageTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.pages .page .pageTitle h3{
  font-size: 2em;
  margin-bottom: 3em;
}

.pages .page .pageTitle p{
  font-size: 1.5em;
  color: aliceblue;
  line-height: 2em;
}


.pages .page .aboutIcon span{
  font-size: 1.2em;
  color: aliceblue;
  line-height: 2em;
}

